<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
<div id="main" class="container">
    <h3>Liste der Arbeitstage</h3>
    <p>Hier kannst du sehen, an welchen Tagen du arbeinten musst oder gearbeitet hast und welchen Dienst du hast oder hattest. Ebenfalls Besonderheiten sieht du allfällige Besonderheiten zu jedem einzelnen Tag.</p>
    <!--Vorlage von https://www.bootstrapworld.de/tabelle-tutorial.html-->
    <!--Titel-Spalte der Tabelle-->
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Datum</th>
            <th scope="col">Dienst</th>
            <th scope="col">Besonderheit</th>
        </tr>
        </thead>
        <!--Inhalte der Tabelle wird mittels Zeile 20 aus der Liste arbeitstage_list gezogen-->
        <tbody>
        {% for element in arbeitstage_liste %}
        <tr>
            <td>{{ element[0] }}</td>
            <td>{{ element[1] }}</td>
            <td>{{ element[2] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
      <!-- Vorlage für den Ausdruck-Button: https://stackoverflow.com/questions/18191893/generate-pdf-from-html-in-div-using-javascript-->
    <input type="submit" class="btn btn-primary mt-1" onclick="window.print();" value="Liste der Arbeitstage ausdrucken">

</div>
</body>

<footer>
    <center><em>Copyright Patrick Ulber, Scesaplanaweg 3, 7000 Chur</em></center>
</footer>
</html>