<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Lohn und Arbeitstage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='my_style.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>

<!--Vorlage von getbootstrap.com-->
<header>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/ueberblick" class="nav-link active" aria-current="page">Überblick</a></li>
            <li class="nav-item"><a href="/arbeitstage" class="nav-link active" aria-current="page">Arbeitstage</a></li>
          </ul>
        </header>
      </div>
</header>
</html>